<div class="container mt-4">
  <div class="cards">
    <% @garden.plants.each do |plant| %>
      <%= render 'plants/plant', plant: plant %>
    <% end %>

    <%= link_to new_garden_plant_path(@garden), class: "card-category", style:"background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(http://jonlieffmd.com/wp-content/uploads/2015/01/FEATURE-Big-Stock-Plant-New-Life-.jpg)" do %>
        Add a plant
    <% end %>
  </div>
</div>
