<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= plant.image_url %>)">
  <%= plant.name %>
  <%= link_to 'cut', plant_path(plant), method: :delete, class: 'delete-button' %>
</div>
